<% if object.errors.any? %>
  <div class="alert alert-danger shadow-sm">
    <h2 class="h6 fw-bold"><%= object.errors.count %> 件のエラーがあります</h2>
    <ul class="mb-0 small">
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>