<div class="container mt-4">
  <div class="card border border-secondary-subtle shadow-sm my-5">
    <div class="card-header bg-transparent border-0 pt-5 pb-0 text-center">
      <h2 class="h4 fw-bold">ABOUT</h2>
    </div>
    <div class="card-body px-4 pb-5 text-center">
      <div class="mb-4">
        <i class="fa-solid fa-circle fa-xl" style="color: #8E44AD;"></i>
        <i class="fa-solid fa-circle fa-xl" style="color: #2ECC71;"></i>
        <i class="fa-solid fa-circle fa-xl" style="color: #3498DB;"></i>
        <i class="fa-solid fa-circle fa-xl" style="color: #F1C40F"></i>
      </div>
      <p class="fs-5 text-dark mb-2">
        「自分を知り、世界を広げる。16タイプで紐解く新しい繋がり。」
      </p>
      <p class="text-secondary small">
        他では通じなかったあなたの本音、ここで話してみませんか？
      </p>
        <div class="mt-4">
          <%= button_to "ゲストログイン（閲覧用）", guest_sign_in_path, class: "btn btn-outline-primary w-100 mb-3 shadow-sm" %>
        </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12">
      <div class="d-flex align-items-center mb-4">
        <i class="fa-solid fa-bookmark text-secondary me-2"></i>
        <h4 class="h5 fw-bold mb-0">New Posts</h4>
      </div>

      <div class="border-top border-secondary-subtle">
        <%= render @posts %>
      </div>
    </div>
  </div>

      <div class="text-center mt-5 mb-5">
        <%= link_to "すべての投稿を見る", posts_path, class: "btn btn-outline-dark px-5" %>
      </div>
    </div>
  </div>
</div>