<h3>About</h3>
<p>「自分を知り、世界を広げる。16タイプで紐解く新しい繋がり。」</p>
<p>他では通じなかったあなたの本音、ここで話してみませんか？</p>

<h4>最新投稿</h4>
<% @posts.each do |post| %>
  <%= post.title %>
  <%= post.updated_at %>
  <%= link_to "詳細", post_path(post) %>
<% end %>