<div class="card my-5">
  <div class="card-header bg-transparent border-0 pt-4 pb-0 text-center">
    <h2 class="h3 section-title">ABOUT</h2>
  </div>
  <div class="card-body px-5 pb-5 text-center">
    <p class="fs-5 text-secondary">
    
    <i class="fa-solid fa-circle fa-xl" style="color: #9b72b0;"></i>
    <i class="fa-solid fa-circle fa-xl" style="color: #33a474;"></i>
    <i class="fa-solid fa-circle fa-xl" style="color: #2d7ebc;"></i>
    <i class="fa-solid fa-circle fa-xl" style="color: #e4a025;"></i>
    <br><br>
    
    「自分を知り、世界を広げる。16タイプで紐解く新しい繋がり。」<br>
      他では通じなかったあなたの本音、ここで話してみませんか？
    </p>
  </div>
</div>


<%# 最新投稿 %>
<h4><i class="fa-solid fa-bookmark"></i> New</h4>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>投稿日</th>
      <th>MBTI</th>
      <th>タイトル</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.updated_at.strftime("%m/%d") %></td>
        <td><%= post.user.mbti_type %></td>
        <td><%= post.title %></td>
        <td><%= link_to "詳細ボタン", post_path(post), class: "btn btn-primary btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>