/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

/*ページ全体のフォント*/
  :root {
    /* 英語用フォントを先に書く */
    --bs-body-font-family: 'Fredoka', 'Zen Maru Gothic', sans-serif;
  }

  body {
    font-family: var(--bs-body-font-family);
    /* 全体的に少し文字を太く*/
    font-weight: 400; 
    /* 読みやすさのために少し行間を広げる */
    line-height: 1.7;
  }

  body {
    letter-spacing: 0.03em;
  }

/*ロゴ用*/
  .site-logo {
    font-family: 'Fredoka', cursive;
    font-weight: 700;
    font-size: 2rem;
    color: #FFFFFF; 
    text-decoration: none;
  }

/*投稿一覧用*/
  .custom-card {
    height: 350px !important;
    display: flex !important;
    flex-direction: column !important;
    background-color: white !important;

  .card-body-scroll {
    flex-grow: 1;
    overflow: hidden; /* 文字が溢れた場合に枠を突き破らないようにする */
    /* もし枠内でスクロールさせたい場合は overflow-y: auto; に変更 */
  }